<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>

<input type='text' [(ngModel)]="input_id" placeholder="ID">
<input type='text' [(ngModel)]="input_name" placeholder="NAME">
<input type="button" value="追加" title="追加" (click)="onAdd()" class="button">
<div *ngFor="let d of data">
  <span>ID:{{ d.id }} </span> <span> Value: {{ d.name }}</span>
  <input type="button" value="削除" title="削除" (click)="onDelete(d.id)" class="button">
</div>
</div>
